{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<h2>Блог</h2>
<div class="row">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                <img src="{{ object.preview | media_filter }}" class="img-fluid">
            </div>
            <div class="card-body">
                <p class="list-unstyled mt-3 mb-4 text-start m-3">{{ object.content }}</p>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'blog:article_update' object.pk %}" role="button">Редактировать</a>
                    <a class="btn btn-secondary" href="{% url 'blog:article_list' %}" role="button">Назад</a>
                </div>
                <small class="text-body-secondary">{{ object.created_at }}</small>
            </div>
            <div class="card-footer">
                {{ object.views }}
            </div>
        </div>
    </div>
</div>
{% endblock %}