{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Удалить пост</h4>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">Действительно хотите удалить "{{ object.title }}"?</p>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger w-100 mb-2">Удалить</button>
                        <a class="btn btn-secondary w-100" href="{% url 'blog:article_list' %}" role="button">Отменить</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}