{% extends 'catalog/base.html' %}

{% block title %}Список продуктов {{add_data.category_name}}{% endblock %}

{% block content %}

<div class="row">

    <div class="col-2 h-100 mt-4">
        <h2>Категории товаров</h2>
        {% for category in add_data.categories %}
        <div>
            <a class="mt-4 nav-link" href="{% url 'catalog:cat_product' category.pk %}">{{ category.name }}</a>
        </div>
        {% endfor %}


    </div>
    <div class="col-10">
        <div class="row">
            {% if add_data.len_products > 0 %}
            {% for product in products %}
            <div class="col-3 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{product.price}} RUB</h6>
                        <p class="card-text">{{product.description|truncatechars:100}}</p>

                    </div>
                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}"
                       role="button">Подробнее</a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="text-center mt-5 mb-5">
                <h1>Здесь должны быть товары, но по какой-то причине они отсутствуют 🤔</h1>
            </div>
            {% endif %}
        </div>
    </div>

</div>


{% endblock %}